#task 2
version: '3.8'

services:
  # --- 1. SERVICE A (Flask Application) ---
  service_a:
    build:
      context: .
      dockerfile: Dockerfile.service_a # Використовуємо Dockerfile для Service A
    container_name: microservice_a

    # expose: Відкриваємо порт 5000 ТІЛЬКИ для внутрішньої мережі Docker
    expose:
      - 5000
    restart: always

  # --- 2. API GATEWAY (Nginx) ---
  api_gateway:
    image: nginx:stable-alpine
    container_name: nginx_gateway

    # ports: Відкриваємо порт 80 Gateway на хост-машину
    ports:
      - "80:80"

    # volumes: Монтуємо нашу конфігурацію в контейнер Nginx
    volumes:
      - ./nginx_gateway/default.conf:/etc/nginx/conf.d/default.conf:ro

    # depends_on: Gateway залежить від того, що Service A буде запущений
    depends_on:
      - service_a
    restart: always